@using Blog_Site.Entities;
@using Blog_Site.Extensions;
@{
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}
<!--
    Contains all shared html code for the pages
    Checks if there us a logged user to disply options for posts and games
    If user is admin they have access to Users
-->
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <title>Blog Site</title>
</head>

<body>
    <div class="container">
        <h1 class="left" style="margin: auto;">Blog Site</h1>
        <div class="right">
            Hello, <span class="b">
                @(loggedUser == null
                    ? "Annonymous"
                    : loggedUser.Username)
            </span>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/Home/Index">HOME</a>
            </li>
            @if (loggedUser != null)
            {
                @if (loggedUser.IsAdmin)
                {
                    <li>
                        <a href="/Users/Index">USERS</a>
                    </li>
                }
                <li>
                    <a href="/Posts/Index">POSTS</a>
                </li>
                <li>
                    <a href="/Home/Logout">LOGOUT</a>
                </li>
            }
            else
            {
                <li>
                    <a href="/Home/Login">LOGIN</a>
                </li>
            }
        </ul>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>

</html>